@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/global.css" />
    <link rel="stylesheet" href="~/css/newprofile.css" />
</head>
<body>
    <form method="post" action="/SoldierInfo/Adding" enctype="multipart/form-data" id="soldierForm">
        <div class="component">
            <div class="overlap-group">
                <div class="text-wrapper-2">ПІБ</div>
                <input type="text" name="soldier_name" class="input rectangle-2" />

                <div class="text-wrapper-3">Вік</div>
                <input type="text" name="age" class="input rectangle-6" />

                <div class="text-wrapper-4">Дата народження</div>
                <input type="text" name="birth_date" class="input rectangle-7" />

                <div class="text-wrapper-5">Позивний</div>
                <input type="text" name="call_sign" class="input rectangle-5" />

                <div class="text-wrapper-6">Посада</div>
                <input type="text" name="rank" class="input rectangle-4" />

                <div class="text-wrapper-7">Спогади</div>
                <input type="text" name="other_info" class="input rectangle-8" />

                <div class="text-wrapper-8">Місце зникнення/смерті</div>
                <input type="text" name="death_place" class="input rectangle-3" />

                <div class="text-wrapper-9">Місце народження</div>
                <input type="text" name="birth_place" class="input rectangle-9" />

                <div class="text-wrapper">Дата зникнення/смерті</div>
                <input type="text" name="death_date" class="input rectangle-1" />


                <div class="div">*долучити фото</div>
                <input type="file" name="photo" id="photoInput" class="input file-input" />


                <select name="soldier_status" class="input">
                    <option value="Active">Active</option>
                    <option value="Retired">Retired</option>
                    <option value="Deceased">Deceased</option>
                    <option value="Missing">Missing</option>
                </select>


                <button type="submit" class="button">Додати анкету</button>
            </div>
        </div>
    </form>


        <script>
    document.getElementById('soldierForm').onsubmit = function() {
        var fileInput = document.getElementById('photoInput');
        if (fileInput.files.length === 0) {
            alert('Please upload a photo.');
            return false;  // Зупиняє відправлення форми
        }
        return true;  // Дозволяє формі відправитися
    };
    </script>

</body>
</html>
