@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/adding.css" />
    <link rel="stylesheet" href="~/css/globals.css" />
</head>
<body>
    <div class="component">
        <div class="overlap-group">
            <input class="rectangle"/>
            <div class="text-wrapper">Дата зникнення/смерті</div>
            <div class="div">*долучити фото</div>
            <div class="text-wrapper-2">ПІБ</div>
            <input class="rectangle-2"/>
            <input class="rectangle-3"/>
            <input class="rectangle-4"/>
            <input class="rectangle-5"/>
            <input class="rectangle-6"/>
            <div class="text-wrapper-3">Вік</div>
            <input class="img"/>
            <input class="rectangle-7"/>
            <input class="rectangle-8"/>
            <div class="text-wrapper-4">Дата народження</div>
            <div class="text-wrapper-5">Позивний</div>
            <div class="text-wrapper-6">Посада</div>
            <div class="text-wrapper-7">Спогади</div>
            <div class="text-wrapper-8">Місце зникнення/смерті</div>
            <div class="text-wrapper-9">Місце народження</div>
            <div class="overlap"><button class="text-wrapper-10">Додати анкету</button></div>
            <button class="centered-button">
                <img class="image" src="~/images/2x.png" alt="Button Image">
            </button>
            <div class="status">Статус</div>
            <div class="combo">
            <select class="combo-box" id="combo-box">
                <option value="option1">Option 1</option>
                <option value="option2">Option 2</option>
                <option value="option3">Option 3</option>
                <option value="option4">Option 4</option>
            </select>
                <div><button class="b_source"><img class="img_source" src="~/images/source.png" /></button></div>
            </div>
        </div>
    </div>
</body>
</html>
