@{
    Layout = null; 
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/global.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body>
    <div class="component">
        <div class="overlap-group">
            <div class="text-wrapper">ValorVault</div>
            <div class="div">Сховище Доблесті</div>
            <button class="text-wrapper-2" onclick="redirectToRegistration()">Реєстрація</button>
            <div class="overlap">
                <input type="text" class="text-wrapper-3 search-box" id="searchBox1" data-default="Пошук за іменем">
                <input type="text" class="text-wrapper-4 search-box" id="searchBox2" data-default="Пошук за позивним">
                <img class="union" src="~/images/union.svg" />
                <img class="line" src="~/images/line-2.svg" />
                <div class="div-wrapper"><button class="text-wrapper-5">Шукати</button></div>
            </div>
            <div class="overlap-2"><button class="text-wrapper-6" onclick="redirectToAuthentication()">Вхід</button></div>
        </div>
    </div>
    <script>
        var searchBoxes = document.querySelectorAll('.search-box');

        searchBoxes.forEach(function (searchBox) {
            var defaultText = searchBox.getAttribute('data-default');

            if (searchBox.value === '') {
                searchBox.value = defaultText;
            }

            searchBox.addEventListener('focus', function () {
                if (searchBox.value === defaultText) {
                    searchBox.value = '';
                }
            });

            searchBox.addEventListener('blur', function () {
                if (searchBox.value === '') {
                    searchBox.value = defaultText;
                }
            });
        });
        function redirectToRegistration() {
            window.location.href = '/Registration/Register';
        }
        function redirectToAuthentication() {
            window.location.href = '/Authentication/Login';
        }
    </script>
</body>
</html>