@{
    Layout = null; 
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/global.css" /> <!-- Use "~/" to reference the root directory -->
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <div class="component">
        <div class="overlap-group">
            <div class="text-wrapper">ValorVault</div>
            <div class="div">Сховище Доблесті</div>
            <button class="text-wrapper-2">Реєстрація</button>
            <div class="overlap">
                <input type="text" class="text-wrapper-3 search-box" id="searchBox1" data-default="Пошук за іменем">
                <input type="text" class="text-wrapper-4 search-box" id="searchBox2" data-default="Пошук за позивним">
                <img class="union" src="~/images/union.svg" /> <!-- Use "~/" to reference the root directory -->
                <img class="line" src="~/images/line-2.svg" /> <!-- Use "~/" to reference the root directory -->
                <!-- Замінюємо div на button та додаємо клас text-wrapper-5 -->
                <div class="div-wrapper"><button class="text-wrapper-5">Шукати</button></div>
            </div>
            <div class="overlap-2"><button class="text-wrapper-6">Вхід</button></div>
        </div>
    </div>
    <script>
        // Отримуємо посилання на елементи
        var searchBoxes = document.querySelectorAll('.search-box');

        // Додаємо обробник події для кожного пошукового рядка
        searchBoxes.forEach(function (searchBox) {
            var defaultText = searchBox.getAttribute('data-default');

            // Перевіряємо, чи поле пошуку порожнє при завантаженні сторінки
            if (searchBox.value === '') {
                searchBox.value = defaultText;
            }

            // Додаємо обробник події для події focus
            searchBox.addEventListener('focus', function () {
                // Якщо значення поля дорівнює тексту за замовчуванням, очищаємо його
                if (searchBox.value === defaultText) {
                    searchBox.value = '';
                }
            });

            // Додаємо обробник події для події blur
            searchBox.addEventListener('blur', function () {
                // Перевіряємо, чи поле порожнє
                if (searchBox.value === '') {
                    // Якщо так, відновлюємо значення за замовчуванням
                    searchBox.value = defaultText;
                }
            });
        });
    </script>

</body>
</html>
