body {
    font-family: sans-serif;
    background-color: #76927a;
}

.soldier-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.component {
    position: relative;
    width: 730px;
    height: 450px;
    margin: 230px auto;
    margin-bottom: 20px;
}

    .component:first-child {
        margin-top: 30px;
    }
    .component .overlap1 {
        float: right;
        left: -20px;
        cursor: pointer;
        position: relative;
        width: 30px;
        height: 30px;
        z-index: 1;
        background-color: white;
        transition: background-color 0.3s;
    }

        .component .overlap1:hover {
            background-color: red;
        }


    .component .overlap {
        position: absolute;
        width: 730px;
        height: 450px;
        top: 0;
        left: 0;
        background-image: url('/images/rectangle-6.png');
        background-color: #808080;
        background-size: 100% 100%;
        border-radius: 25px;
    }

    .component .juice {
        position: absolute;
        width: 316px;
        height: 317px;
        top: 0;
        left: 207px;
        object-fit: cover;
    }

    .component .div {
        position: absolute;
        width: 730px;
        height: 334px;
        top: 317px;
        left: 0;
        background-color: #d9d9d9;
        border-radius: 0px 0px 25px 25px;
        margin-bottom: 20px;
    }

    .component .text-wrapper {
        width: 77px;
        top: 236px;
        left: 17px;
        font-weight: 400;
        color: #696969;
        font-size: 16px;
        position: absolute;
        font-family: "Roboto", Helvetica;
        letter-spacing: 0;
        line-height: normal;
    }

    .component .text-wrapper-2 {
        width: 70px;
        top: 212px;
        left: 17px;
        font-weight: 700;
        color: #000000;
        font-size: 16px;
        position: absolute;
        font-family: "Roboto", Helvetica;
        letter-spacing: 0;
        line-height: normal;
    }

    .component .text-wrapper-3 {
        width: 144px;
        top: 77px;
        left: 17px;
        font-weight: 400;
        color: #696969;
        font-size: 16px;
        position: absolute;
        font-family: "Roboto", Helvetica;
        letter-spacing: 0;
        line-height: normal;
    }

    .component .text-wrapper-4 {
        width: 448px;
        top: 11px;
        left: 17px;
        font-weight: 700;
        color: #000000;
        font-size: 20px;
        position: absolute;
        font-family: "Roboto", Helvetica;
        letter-spacing: 0;
        line-height: normal;
    }

    .component .text-wrapper-5 {
        position: absolute;
        width: 89px;
        top: 57px;
        left: 17px;
        font-family: "Roboto", Helvetica;
        font-weight: 700;
        color: #000000;
        font-size: 16px;
        letter-spacing: 0;
        line-height: normal;
    }

    .component .text-wrapper-6 {
        width: 186px;
        top: 77px;
        left: 203px;
        font-weight: 400;
        color: #696969;
        font-size: 16px;
        position: absolute;
        font-family: "Roboto", Helvetica;
        letter-spacing: 0;
        line-height: normal;
    }

    .component .text-wrapper-7 {
        position: absolute;
        width: 90px;
        top: 57px;
        left: 203px;
        font-family: "Roboto", Helvetica;
        font-weight: 700;
        color: #000000;
        font-size: 16px;
        letter-spacing: 0;
        line-height: normal;
    }

    .component .text-wrapper-8 {
        width: 90px;
        top: 57px;
        left: 404px;
        font-weight: 700;
        color: #000000;
        font-size: 16px;
        position: absolute;
        font-family: "Roboto", Helvetica;
        letter-spacing: 0;
        line-height: normal;
    }

    .component .text-wrapper-9 {
        width: 153px;
        top: 126px;
        left: 17px;
        font-weight: 400;
        color: #696969;
        font-size: 16px;
        position: absolute;
        font-family: "Roboto", Helvetica;
        letter-spacing: 0;
        line-height: normal;
    }

    .component .text-wrapper-10 {
        width: 54px;
        top: 105px;
        left: 17px;
        font-weight: 700;
        color: #000000;
        font-size: 16px;
        position: absolute;
        font-family: "Roboto", Helvetica;
        letter-spacing: 0;
        line-height: normal;
    }

    .component .text-wrapper-11 {
        width: 145px;
        top: 125px;
        left: 203px;
        font-weight: 400;
        color: #696969;
        font-size: 16px;
        position: absolute;
        font-family: "Roboto", Helvetica;
        letter-spacing: 0;
        line-height: normal;
    }

    .component .text-wrapper-12 {
        width: 186px;
        top: 105px;
        left: 203px;
        font-weight: 700;
        color: #000000;
        font-size: 16px;
        position: absolute;
        font-family: "Roboto", Helvetica;
        letter-spacing: 0;
        line-height: normal;
    }

    .component .text-wrapper-13 {
        width: 60px;
        top: 171px;
        left: 17px;
        font-weight: 400;
        color: #696969;
        font-size: 16px;
        position: absolute;
        font-family: "Roboto", Helvetica;
        letter-spacing: 0;
        line-height: normal;
        margin: 20px 0;
    }

    .component .text-wrapper-14 {
        width: 70px;
        top: 150px;
        left: 17px;
        font-weight: 700;
        color: #000000;
        font-size: 16px;
        position: absolute;
        font-family: "Roboto", Helvetica;
        letter-spacing: 0;
        line-height: normal;
        bottom: calc(100% + 10px); 
    }

    .component .text-wrapper-15 {
        position: absolute;
        top: 165px;
        left: 203px;
        font-weight: 700;
        color: #000000;
        font-size: 16px;
        font-family: "Roboto", Helvetica;
        letter-spacing: 0;
        line-height: normal;
    }

    .component .text-wrapper-16 {
        position: absolute;
        top: 185px;
        left: 203px;
        font-weight: 400;
        color: #696969;
        font-size: 16px;
        font-family: "Roboto", Helvetica;
        letter-spacing: 0;
        line-height: normal;
    }

    .component .text-wrapper-17 {
        position: absolute;
        top: 210px;
        left: 203px;
        font-weight: 700;
        color: #000000;
        font-size: 16px;
        font-family: "Roboto", Helvetica;
        letter-spacing: 0;
        line-height: normal;
    }

    .component .text-wrapper-18 {
        position: absolute;
        top: 232px;
        left: 203px;
        font-weight: 400;
        color: #696969;
        font-size: 16px;
        font-family: "Roboto", Helvetica;
        letter-spacing: 0;
        line-height: normal;
    }

    .component .overlap-2 {
        position: absolute;
        width: 307px; 
        height: 259px; 
        top: 78px;
        left: 404px;
        overflow: hidden;
    }

    .component .rectangle {
        position: absolute;
        width: 300px;
        height: 140px;
        top: 0;
        left: 0;
        background-color: #f3f3f3;
        box-shadow: 0px 6px 5px #0000000d;
        overflow-y: auto;
        overflow: hidden;
    }

    .component .element {
        width: calc(100% - 10px);
        height: 140px;
        padding: 6px; 
        font-weight: 400;
        color: #000000;
        font-size: 14px;
        position: relative;
        font-family: "Roboto", Helvetica;
        letter-spacing: 0;
        line-height: normal;
        overflow-y: auto
    }

        .component .element::-webkit-scrollbar {
            width: 8px;
            position: absolute;
            bottom: 0;
            z-index: 1;
        }

        .component .element::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.3);
        }

        .component .element::-webkit-scrollbar-track {
            background-color: rgba(0, 0, 0, 0.1);
        }

    .component .span {
        font-family: "Roboto", Helvetica;
        font-weight: 400;
        color: #000000;
        font-size: 16px;
        letter-spacing: 0;
    }

    .component .union2 {
        position: absolute;
        left: 0;
        top: 1px;
    }
