@model ValorVault.Models.User

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/profilesettings/profsetstyle.css" />
    <link rel="stylesheet" href="~/css/profilesettings/global.css" />
</head>
<body>
    <div class="component">
        <button class="overlap1" onclick="goBack()"><img class="union2" src="images/union2.svg" /></button>
        <div class="overlap">
            <img class="avtor" src="images/avtor-8.png" width="200" height="200" />
        </div>
        <div class="div">
            <div class="text-wrapper">Ім‘я</div>
            <div class="text-wrapper-2">Електронна пошта</div>
            <div class="overlap-2">
                <input type="text" id="emailField" value="@Model.Email" />
            </div>
            <div class="text-wrapper-4">Пароль</div>
            <div class="overlap-3">
                <input type="password" id="passwordField" value="@Model.Password" />
            </div>
            <div class="text-wrapper-6">Кількість створених анкет: 0</div>
            <div class="text-wrapper-7">Кількість опублікованих анкет: 0</div>
            <div class="text-wrapper-8">Кількість відхилених анкет: 0</div>
            <div class="overlap-4">
                <input type="text" id="usernameField" value="@Model.Username" />
            </div>
            <button class="saveChanges">Підтвердити</button>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function goBack() {
            window.history.back();
        }

        $('.saveChanges').on('click', function () {
            var username = $('#usernameField').val();
            var email = $('#emailField').val();
            var password = $('#passwordField').val();
            var userId = '@Model.Id';
            $.ajax({
                type: "PUT",
                url: '/ProfileViewController/UpdateUser/' + userId,
                data: JSON.stringify({ Username: username, Email: email, Password: password }),
                contentType: "application/json",
                success: function (response) {
                    alert("Зміни успішно збережено.");
                },
                error: function (xhr, status, error) {
                    console.error(error);
                    alert("Сталася помилка при збереженні змін.");
                }
            });
        });
    </script>
</body>
</html>
